            @charset "utf-8";
            @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
            @import url(http://fonts.googleapis,com/css?family=Oleo+Script);
            *{
                margin: 0; padding: 0;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            #container{ width: 100%;
                        height: 100%;
                        background-color: rgba(59, 58, 58, 0.733);
                        background-size: 100%;}
            header{
                width: 100%;
                height: 100% ;
                background-size: cover;
                margin: 0;
                    }
            section{
                    position: relative;
                    width: 100%;
                    }
            body{
                background-image:url('../img16/tree3.jpg');
                background-size: 100%;
                width: 100%; height: 100%;
                background-repeat: no-repeat;
                background-attachment: fixed;
                }
            nav{
                height: 60px;
                line-height: 50px;
                text-align: center;
                color: white;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9db80+0,96c56f+100;Green+3D+%232 */
                background: rgb(169,219,128); /* Old browsers */
                background: -moz-linear-gradient(top,  rgba(169, 219, 128, 0.432) 0%, rgba(150, 197, 111, 0.432) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(169, 219, 128, 0.432) 0%,rgba(150, 197, 111, 0.432) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(169, 219, 128, 0.432) 0%,rgba(150, 197, 111, 0.432) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
                }
            #main-nav{
                    list-style: none;
                    margin: 0;
                         }
             #main-nav .span{display: inline-block;
                             color:white;
                            margin: 10px 20px;
                            margin-right: 40px;
                            
                            }
            .outer-menu-item{
                display: inline-block;
                margin: 5px 20px;
                position: relative;
                
            }
            .outer-menu-item:hover{
                background: rgba(rgba(8, 71, 18, 0.63), green, blue, alpha);
                color:green;
            }
            .menu-title{
                display: block;
                height: 30px; line-height: 30px;
                text-align: center;
                padding: 5px 20px;
            }
            .inner-menu {
                display: none;
                position: absolute;
                top: 40px; left: 0;
                width: 100%;
                background:rgba(0, 139, 139, 0.589);
                box-shadow: 0 2px 6px rgba(5,5, 5, 0.9);
                z-index: 1000;
                text-align: center;
                list-style: none;
            }
            .inner-menu-item>a{
                display: block;
                padding: 5px 10px;
                color: black;
            }
            .inner-menu-item>a:hover{
                background:black;
                color: white;
            }
            h4{
               font-size: 100px; 
               text-align: center;
               width: 40%;
               height: 150px;
               margin: 100px 30% 120px 30% ;
               color: white;
               background: rgba(31, 218, 177, 0.685);
               background-size: 50%;
               display: inline-block;
                }
                /*
                .prod-list .caption{
                    position: absolute;
                    top: 400px; left: 50%; right: 50%;
                    padding-top: 20px;
                    background: rgba(0, 0, 0, 0.6);
                    width: 300px;
                    height: 200px;
                    padding-top: 20px;
                    top: 200px;
                    opacity: 1;
                    -moz-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
                    -webkit-transition: all 0.2s ease-in-out;
                    z-index: 10;
                    
            }
            .prod-list li:hover .caption {
                opacity: 1;
                -moz-transform: translateY(-200px);
                -ms-transform: translateY(-200px);
                -o-transform: translateY(-200px);
                -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
            }
            .prod-list .caption h1, .prod-list .caption p {
                color: #fff;
                text-align: center;
            }*/
            
            .last {
                text-align: center;
                font-size: 30px;
                background-image: url('../img16/memo.png');
                background-repeat: no-repeat;
                background-position: center;
                margin: 30px;
                padding: 100px;
                }
            .last p{
                text-align: center;
                font-size: 20px;
                display: inline-block;
                width: 850px;
                height: 50px;
                color: darkgreen;
                bottom: 30px;
                line-height: 2.0;
                    }
            footer{
              position: relative;
              width: 100%;
              height: 200px;
              margin-top: 170px;
              z-index: 1;
              background-color:rgba(0, 0, 0, 0.432);
              background-size: 100%;
                  }
            footer p{
                font-family: 'Oleo Script', cursive;
                font-size: 1.5em;
                line-height: 100px;
                color:white;
                text-align: center;
                    }